[run]
omit =
    *migrations*
    *site-packages*

[html]
skip_covered = True
skip_empty = True

[report]
skip_covered = True
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    raise AssertionError
    raise NotImplementedError
    if 0:
omit =
    *migrations*
    *site-packages*
    *admin.py
sort = -cover
precision = 3
