[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
django-allauth = "~=0.43.0"
django-crispy-forms = "~=1.10.0"
django-debug-toolbar = "~=3.2.0"
whitenoise = "~=5.2.0"
Django = "~=3.2.0"
flake8 = "*"
flake8-print = "*"
isort = "*"
black = "*"
coverage = "*"
pre-commit = "*"
